<html>
    <head>
        <title>Info</title>
    </head>
    <body>
        <center><h1>Rubitify</h1></center>
        <p>The endpoints availables are:</p>
        <ul>
            <li>
                <a href="http://localhost:3000/api/v1/artists">/api/v1/artists</a>
                <!--- <a href="https://rubitify-appi.herokuapp.com/api/v1/artists">/api/v1/artists</a>--->
            </li>
            <li>
                <a href="http://localhost:3000/api/v1/artists/:id/albums">/api/v1/artists/:id/albums</a>
                <!--- <a href="https://rubitify-appi.herokuapp.com/api/v1/artists/:id/albums">/api/v1/artists/:id/albums</a>--->
            </li>
            <li>
                <a href="http://localhost:3000/api/v1/albums/:id/songs">/api/v1/albums/:id/songs</a>
                <!--- <a href="https://rubitify-appi.herokuapp.com/api/v1/albums/:id/songs">/api/v1/albums/:id/songs</a>--->
            </li>
            <li>
                <a href="http://localhost:3000/api/v1/genres/:genre_name/random_song">/api/v1/genres/:genre_name/random_song</a>
                <!--- <a href="https://rubitify-appi.herokuapp.com/api/v1/genres/:genre_name/random_song">/api/v1/genres/:genre_name/random_song</a>--->
            </li>
        </ul>
    </body>
</html>
